.weather-container-content {
    border: 2px solid rgba(255, 255, 255, 0.2); /* Semi-transparent border */
    border-radius: 5px;
    padding: 1.5em; /* Optional padding for inner content */
    
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Background blur for glass effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    
    /* Optional text styling for contrast */
    color: white;
    font-family:'Roboto', sans-serif; 
    max-width: 100%;
  
}

/* .forecast-day{
    display: flex;
    gap: 2em;
}

.forecast-day-low-and-high{
    display: flex;
    gap: 2em;
} */




.forecast-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 5em; */
}

.forecast-day h3 {
    width: 100px; /* Set a fixed width for all the day titles */
    text-align: left;
    flex-shrink: 0; /* Prevent the day from shrinking */
}

.forecast-day img {
    width: 30px; /* Set a fixed size for the icon */
    height: 30px;
    flex-grow: 1; /* Allow the icon to take up equal space */
}

.forecast-day-low-and-high {
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    flex-grow: 1; /* Allow the low/high container to take equal space */
}

.forecast-day p {
    flex-grow: 1; /* Make description text take equal space */
    text-align: left;
    margin: 0;
}