.spotify-container{
    font-family:'Roboto', sans-serif; ;
    border: 2px solid rgba(255, 255, 255, 0.2); /* Semi-transparent border */
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Background blur for glass effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    width: 40%;
    max-width: 40%;
    height: auto;
    color: white;
 

}

.spotify-content{
    /* display: flex; */
    
}

.song-name{
    display: flex;
    gap: 1em;
}

.artist-name{
    display: flex;
    gap: 1em;
}

.album-name{
    display: flex;
    gap: 1em;
}

.spotify-album-cover >img{
    max-width: 10%;
}