.home-container {
    position: relative;
    height: 100vh;
    font-family: "Saira", sans-serif;
    background-image: url('https://i.pinimg.com/originals/c3/8a/c8/c38ac8e163d09254f86afa331da35693.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; /* Ensure the pseudo-element covers the entire container */
}

/* Dark overlay to darken the background */
.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black with 50% opacity */
    z-index: 1; /* Ensure the overlay is behind the content */
}

.home-container-content {
    position: relative;
    z-index: 2; 
    margin-left: 2em;
    margin-right: 2em;
}

