.home-container {
    height: 100vh;
    font-family: "Saira", sans-serif;
    
    /* background-image: url('https://i.pinimg.com/originals/c3/8a/c8/c38ac8e163d09254f86afa331da35693.jpg'); */
    background-image: url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?cs=srgb&dl=pexels-joyston-judah-331625-933054.jpg&fm=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: flex;
    align-items: center;
    

}

.home-container-content{
    display: flex;
    flex-direction: column;
    margin-left: 6.5em;
    margin-right: 6.5em;
    
    
    /* background-color: blue; */
}

.home-container-modules-content{
    display: flex;
    justify-content: space-between;
    
    
}

.home-container-modules-content-col-1{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* background-color: aqua; */
    
}

.home-container-modules-content-col-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* background-color: green; */
}










