.header-container{
    height: 15%;
}

.header-container-content{
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
    
}

.header-user-content{
    display: flex;
    align-items: center;
    color: white;
    gap: 1em;
    font-size: 1.2rem;
}