@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.news-container-content {
    border: 2px solid rgba(255, 255, 255, 0.2); /* Semi-transparent border */
    border-radius: 5px;
    
    
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Background blur for glass effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 70%;
    max-height: 65%;
    height: auto;
    font-family:'Roboto', sans-serif;
}

.news-content {
    display: flex;
    flex-direction: column;
    /* align-items: center;  
    text-align: center;   */
}

.news-content >p:nth-of-type(1){
    margin: 0;
    padding: 0;
    
}
.article {
    display: flex;
    flex-direction: column;
    /* align-items: center;   */
}


.article-image {
   width: 100%;
   border-radius: 5px;
    
    /* margin: 0 auto;   */
}

.article-text{
    margin-top: .8em;
    
}




/* Read More Button */
.news-container-content > button:nth-of-type(1){
    width: 20%;
    background: none;
    border: 1px solid rgb(193, 190, 190);
    border-radius: 10px;
    padding: .2em;
    font-size: .9rem;
    margin-top: .5em;
    /* font-family: "Roboto", sans-serif; */
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
