.news-container-content {
    border: 2px solid rgba(255, 255, 255, 0.2); /* Semi-transparent border */
    border-radius: 5px;
    padding: 1.5em; /* Optional padding for inner content */
    
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Background blur for glass effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    
    color: white;
    display: flex;
    /* justify-content: center;
    align-items: center;  */
    width: 70%;
}

.news-content {
    display: flex;
    flex-direction: column;
    /* align-items: center;  
    text-align: center;   */
}

.news-content >p:nth-of-type(1){
    margin: 0;
    padding: 0;
    
}
.article {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Ensure image and text in the article are centered */
}


.article-image {
    width: 85%;
    border-radius: 5px;
    margin: 0 auto;  /* This ensures the image is centered */
}

.article-text{
    margin-top: .8em;
    
}

.read-more{
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    background: none;
    /* background-color: rgb(228, 224, 224); */
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;
    font-size: .7rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 1em;
    align-self: flex-start;
    margin-left:2em;

}

