@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.news-container {
    border: 2px solid rgba(255, 255, 255, 0.2); /* Semi-transparent border */
    border-radius: 5px;
    
    
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Background blur for glass effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    color: white;
    display: flex;
    flex-direction: column;
    
    width: 30%;
    max-width: 30%;
    /* max-height: 20%; */
    /* height: 20%; */
    /* padding: 1em; */
    justify-content: center;
    
    font-family:'Roboto', sans-serif;
}

.news-title{
    font-size: 1.8rem;
    margin-top: .2em;
    
}
.article {
    display: flex;
    flex-direction: column;
    /* padding: .4em */
}



.article-text >a{
    margin-top: .8em;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(218, 217, 217);
    
}


